input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid, input.ng-touched.pass-invalid.ng-valid{
    border: 1px solid darkred;
}

input.ng-valid.ng-touched, textarea.ng-valid.ng-touched{
    border: 1px solid darkgreen;
}

p.errors, p.passed{
    font-style: italic;
    font-weight: 600;
}

p.errors{
    color: darkred;
}

p.passed{
    color: darkgreen;
}